.animeVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.animeVideo iframe {
  width: 65.6%; 
  height: 89.72%; 
  border: none;
  object-fit: contain;
}

.animeTitle {
  margin-top: 30px;
  margin-left: 312px;
  font-size: 30px
}

.epListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.epList {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  max-height: 310px;
  background-color: black;
  padding: 10px 10px 10px;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 15px;
  overflow-y: scroll;
}

.epList::-webkit-scrollbar {
  width: 10px; 
  height: 30px;
}

.epList::-webkit-scrollbar-track {
  background-color: rgb(41, 40, 40); 
}

.epList::-webkit-scrollbar-thumb {
  background-color: #000000; 
  border-radius: 5px; 
  height: 50px;
}

.epList::-webkit-scrollbar-thumb:hover {
  background-color: red;
}
.epList::-webkit-scrollbar-thumb:active {
  background-color: rgb(134, 2, 2);
}

.epList button {
  width: 50px;
  padding: 10px;
  margin: 10px 8px;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.epList button:hover {
  background-color: red;
}