.aniDetails {
  width: 100%;
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
}

.animeDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.aniImage {
  border-radius: 14px;
}

.animeInfo {
  height: 100%;
  width: 100%;
  padding: 0 30px;
}

.animeDetailsTitle {
  font-size: 55px;
  font-weight: 750;
  margin-bottom: 40px;
  letter-spacing: .1px;
}

.playButton {
  background-color: black;
  border: none;
  padding: 19px 50px 19px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 1px;
  color: #fff;
  text-align: center;
}

.playButton:hover {
  background-color: red;
}

.animeStory {
  background-color: black;
  padding: 15px;
  border-radius: 8px;
  max-height: auto;
  padding-bottom: 40px;
  margin-left: 1px;
}

.animeSummary {
  font-size: 25px;
  margin: 15px 0;
  word-spacing: 5px;
  font-weight: 600;
}

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animeEp {
  background-color: black;
  padding: 20px 30px;
  border-radius: 10px;
  flex-direction: row;
  margin-top: 5%;
  flex-wrap: wrap;
  max-height: 320px;
  max-width: auto;
  overflow: auto;
}
.animeEp::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}
.animeEp::-webkit-scrollbar-track {
  background-color: rgb(41, 40, 40);
}
.animeEp::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
  height: 50px;
}
.animeEp .animeEpList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  overflow-x: hidden;
  max-height: 100%;
}

.animeEp::-webkit-scrollbar-thumb:hover {
  background-color: red;
}
.animeEp::-webkit-scrollbar-thumb:active {
  background-color: rgb(134, 2, 2);
}

.animeEp .animeEpList button {
  width: 55px;
  padding: 10px;
  margin: 10px 0px;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.animeEp .animeEpList button:hover {
  background-color: red;
}