/* styles.css */
.popup-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey; /* Change background color to grey */
  padding: 52px; /* Increase padding by 30% for a bigger form */
  border-radius: 5px;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2); /* Adjust box shadow */
  z-index: 101; /* Higher than the overlay */
  display: none; /* Initially hidden */
  font-size: 20.8px; /* Increase font size by 30% for better readability */
  color: white; /* Set text color to white */
}

.popup-login.active {
  display: block; /* Display when active */
}

.register-text {
  color: white; /* Set text color to white */
}

/* Add styles for the "Register" link */
.register-link {
  color: green; /* Set link color to green */
  text-decoration: underline; /* Add underline to the link */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add styles for form inputs */
.popup-login input[type="text"],
.popup-login input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.popup-login input[type="text"]:focus,
.popup-login input[type="password"]:focus {
  border-color: #4caf50; /* Highlight border on focus */
}

/* Add styles for form buttons */
.popup-login button[type="submit"],
.popup-login button[type="button"] {
  background-color: #4caf50; /* Green background color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.popup-login button[type="submit"]:hover,
.popup-login button[type="button"]:hover {
  background-color: #45a049; /* Darker green on hover */
}
